extends layout

block content
    div.grid-container
        div.playerOne.playerDeck
            div.unoCard.blue.reverse
            div.unoCard.blue.card0
            div.unoCard.blue.skip
            div.unoCard.blue.card0
            div.unoCard.blue.card1
            div.unoCard.blue.card2
            div.unoCard.blue.card3
        div.playerTwo.playerDeck
            div.unoCard.rotate270.card-back
            div.unoCard.rotate270.card-back
            div.unoCard.rotate270.card-back
            div.unoCard.rotate270.card-back
            div.unoCard.rotate270.card-back
            div.unoCard.rotate270.card-back
            div.unoCard.rotate270.card-back
        div.playerThree.playerDeck
            div.unoCard.card-back
            div.unoCard.card-back
            div.unoCard.card-back
            div.unoCard.card-back
            div.unoCard.card-back
            div.unoCard.card-back
            div.unoCard.card-back
        div.playerFour.playerDeck
            div.unoCard.card-back.rotate90
            div.unoCard.card-back.rotate90
            div.unoCard.card-back.rotate90
            div.unoCard.card-back.rotate90
            div.unoCard.card-back.rotate90
            div.unoCard.card-back.rotate90
            div.unoCard.card-back.rotate90
        div.pile
            div.deck.unoCard.card-back Deck
            div.played.unoCard.green.card3 Played
        div.chat Chat
