extends layout

block content
    div.grid-container
        div.playerOne.playerDeck
        div.playerTwo.playerDeck
        div.playerThree.playerDeck
        div.playerFour.playerDeck
        div.pile
            div.throwDeck ThrowDeck
            div.pullDeck.unoCard.card-back PullDeck
        div.chat Chat


    script(defer, type="module", src='/src/cardlogic.js')
    script(defer, type="module", src='/src/gameManager.js')
