doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cards.css')
    script(src='/public/src/cards.js')
  body
    include ./header.pug
    block content
      