doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/cards.css')
    script(src='/socket.io/socket.io.js')

  body
    include ./header.pug
    block content
