extends layout

block content
    div.lobby-container
        div.container.chat-box
            div.box-header
                h1 Global Chat
            div.chat-box-content

            div.chat-input
                form.flex-row(method="post" action="#")
                    input.chat-textbox(type="text" placeholder="chat...")
                    input.chat-action(type="submit", value=">")


        div.container.game-list
            div.box-header
                h1 Game List
            div.game-box-content
                form.join-game(method="post" action="#")
                    input(type="text" placeholder="enter code")
                    input(type="submit" value="Join Game")

                ul.flex-col.online-games
                    li.game-list-item
                        a(href='/game') New Game
                    li.game-list-item
                        a(href='/game') New Game
                    li.game-list-item
                        a(href='/game') New Game
    script.
        var sessionUser = !{JSON.stringify(sessionUser)}

    script(src='/socket.io/socket.io.js')
    script(src='/src/lobbychat.js')