<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="public/javascripts/registerGet.js"></script>
    <title>Register</title>
</head>
<body>
    <form>
        <div class="form-name">Register</div>
        <div class="register-container">
            //- <label for="username">Username</label>
            //- <input type="text" placeholder="Enter Username..." name="username" id="username>

            //- <label for="email">Email</label>
            //- <input type="email" placeholder="Enter Email..." name="email" id="email>

            //- <label>Password</label>
            //- <input type="password" placeholder="Enter Password..." name="password" id="password">            
            //- <button id="btn-get" type="submit">Sign Up</button>
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username..." name="username" id="username>

            <label for="email">Email</label>
            <input type="email" placeholder="Enter Email..." name="email" id="email">

            <label>Password</label>
            <input type="password" placeholder="Enter Password..." name="password" id="password">
            <input type="password" placeholder="Confirm Password..." name="password">
            <button id="submit">Sign Up</button>
        </div>
    </form>
</body>
</html>

