<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Register</title>
</head>
<body>
    <form>
        <div class="form-name">Register</div>
        <div class="register-container">
            <label for="username">Username</label>
            <input type="text" placeholder="Enter Username..." name="username">

            <label for="email">Email</label>
            <input type="email" placeholder="Enter Email..." name="email">

            <label>Password</label>
            <input type="password" placeholder="Enter Password..." name="password">
            <input type="password" placeholder="Confirm Password..." name="password">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>
</html>

