<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/cards.css">
    <title>Document</title>
</head>
<body>
    <span class="unoCard blue reverse"></span>
    <span class="unoCard blue draw2"></span>
    <span class="unoCard blue skip"></span>
    <span class="unoCard blue card0"></span>
    <span class="unoCard blue card1"></span>
    <span class="unoCard blue card2 rotate90"></span>
    <span class="unoCard blue card3"></span>
    <span class="unoCard blue card4"></span>
    <span class="unoCard blue card5 rotate270"></span>
    <span class="unoCard blue card6"></span>
    <span class="unoCard blue card7"></span>
    <span class="unoCard blue card8"></span>
    <span class="unoCard blue card9"></span>
    <span class="unoCard draw4"></span>
    <span class="unoCard wild"></span>
    <span class="unoCard card-back"></span>

</body>
</html>