<!DOCTYPE html>
<html>

<body>

<div class="grid-wrapper">
<header>
<h1>UNO WORLD</h1>
<h2>Lobby Area</h2>
</header>
<nav>
<hr>
<a>Settings</a> |
<a>Profile</a> |
<a>Logout</a>
<hr>
</nav>
<button type="button">Find Game</button> |
<input type="text" placeholder="enter code"> 
<button type="button">Join</button>
<div>
<p>Chat Box</p>
</div>
</div>

</body>
</html>